<div class="container">
  <div class="row">
    <div class="col-md-8">
    <span class="bg-secondary"><%= @customer.full_name %>さんの会員情報編集</span>
      <%= form_with model: [:admin, @customer], local:true do |f| %>
     　<%= f.label :"氏名" %>
     　<%= f.text_field :surname %>
     　<%= f.text_field :name %><br>
     　<%= f.label :"フリガナ" %>
     　<%= f.text_field :surname_kana %>
     　<%= f.text_field :name_kana %><br>
     　<%= f.label :"郵便番号" %>
     　<%= f.text_field :address %><br>
     　<%= f.label :"住所" %>
     　<%= f.text_field :postal_code %><br>
     　<%= f.label :"電話番号" %>
     　<%= f.text_field :phone_number %><br>
     　<%= f.label :"メールアドレス" %>
     　<%= f.text_field :email %><br>
     　<%= f.label :"会員ステータス" %>
     　<%= f.radio_button :is_delete, false %>
     　<%= f.label :is_delete, "退会済", value:false %>
     　<%= f.radio_button :is_delete, true %>
     　<%= f.label :is_delete, "有効", value:true %><br>
     　<%= f.submit "変更を保存",class: 'btn btn-success' %>
     　<% end %>
     </div>
  </div>
</div>