<div class="container">
  <div class="row">
      <div class="bg-light pl-4 pr-4 text-center">
         <h5 class="lh-auto text-center">注文情報確認</h5>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8">
          <% form_with(model: @order, local: true) do |f| %>
            <table table table-hover table-bordered border-dark>
              <thead class="bg-light">
                <tr>
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>数量</th>
                  <th>小計</th>
                </tr>
              </thead>
              <tbody>
                <% @order.order_details.each do |order_detail| %>
                  <tr>
                    <td><%= order_detail.product.name %></td>
                    <td><%= order_detail.product.add_tax_price.to_s(:delimited) %></td>
                    <td><%= order_detail.quantity %></td>
                    <td><%= order_detail.order_detail_product_total %></td>
                  </tr>
                 <% end %>
              </tbody>
            </table>
      </div>
      <div class="col-md-4">
        <table table table-hover table-bordered border-dark>
          <tr>
            <th class="bg-light">送料</th>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th class="bg-light">商品合計</th>
            <td>
              <% @order.order_details.each do |order_detail| %>
                <%= order_detail.order_detail_product_total.to_s(:delimited) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="bg-light">請求金額</th>
            <td><%= @order.total_amount %></td>
          </tr>
        </table>
      </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th>お届け先</th>
        <td>
          〒<%= @order.postal_code %> <%= @order.shipping_address %><br>
          <%= @order.attention %>
        </td>
      </tr>
    </table>
  </div>
  <%= f.submit '注文を確定する', class:'btn btn-success' %>
  <% end %>
</div>