<div class="container">
  <h2 class="col-md-4 bg-light mt-3 text-center">管理者ログイン</h2>
<div class="row">
  <div class="col-md-8">
  <div class="form-group  mt-3 w-auto mx-auto">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス", class:"col-sm-4 control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "col-sm-3 form-control-static name" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" , class:"col-sm-4 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password" , class: "col-sm-3 form-control-static name"%>
  </div>

  <div class="actions">
    <%= f.submit "ログイン"%>
  </div>
<% end %>
    </div>
    </div>
  </div>
</div>