<div class="container">
  <div class="row">
    <div class="bg-light pl-4 pr-4 text-center">
      <h5 class="lh-auto text-center">配送先編集</h5>
    </div>
  </div>
  <%= render 'shipping_addresses/error-message', shipping_address: @shipping_address %>
  <div class="row mt-4">
    <div class="form-group col-md-10">
      <%= form_with model: @shipping_address, local:true do |f| %>
        <%= f.label :postal_code, '郵便番号(ハイフンなし)', class:"col-4" %>
        <%= f.text_field :postal_code, placeholder: "0000000", class:'col-3' %><br>
        <%= f.label :address, '住所', class:"col-4" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:'col-6' %><br>
        <%= f.label :attention, '宛名', class:"col-4" %>
        <%= f.text_field :attention, placeholder: "唐揚マニオ", class:'col-3' %>
        <%= f.submit '変更内容を保存', class:'btn btn-success col-xs-2 float-right' %>
      <% end %>
    </div>
  </div>
</div>