<div class="container">
  <div class="row">
    <div class=" pl-4 pr-4">
      <h5>ショッピングカート</h5>
    </div>
      <% if @cart_items.empty?%>
       <div class="mt-3 w-auto mx-auto">
        <div>カート内に商品がありません</div>
       </div>
    　<% else %>
    <div class="d-flex ml-auto">
       <div><%= link_to "カートを空にする",destroy_all_cart_items_path,method: :delete, class: 'btn btn-danger' %></div>
    </div>
      <table class="table table-bordered mt-3">
         <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
         </thead>
         <tbody>
           <% @cart_items. each do |cart_item| %>
           <tr>
              <td>
                <%= attachment_image_tag cart_item.product, :image, fallback:"no-image.png", size: '80x50' %>
                <%= cart_item.product.name %>
              </td>
              <td>
                ¥<%= cart_item.product.add_tax_price.to_s(:delimited) %>
              </td>
              <td>
                <%= form_with model:cart_item do |f| %>
                  <%= f.number_field :quantity, max: 10,min: 1 %>
                  <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>
                ¥<%= cart_item.subtotal_price.to_s(:delimited) %>
              </td>
              <td><%=link_to "削除する", cart_item_path(cart_item),method: :delete, class: "btn btn-danger" %></td>
           </tr>
           <% end %>
         </tbody>
        </table>
    </div>
      <div><%= link_to "買い物を続ける",root_path, class: "btn btn-primary" %></div>
        <div class="row justify-content-end">
         <div class="col-xs-6">
          <table class="table table-bordered xs-2">
            <thead>
              <tr>
                <td class="table-secondary">合計金額</td>
                <td>
                 ¥<%= @total_price.to_s(:delimited) %>
                </td>
              </tr>
            </thead>
           </table>
          </div>
        </div>
     <p class="text-center mb-5"><%= link_to "情報入力に進む",new_order_path, class: "btn btn-primary " %></p>
     <% end %>

</div>