<div class="container">
  <div class="row">
    <h2>商品新規登録</h2>
    <div class="product-form">
      <%= form_with model: [:admin, @product], local:true do |f| %>
        <div class="field">
          <%= f.label :image, '商品画像' %>
          <%= f.attachment_field :image %>
        </div>
        <div class="field">
          <%= f.label :name, '商品名' %>
          <%= f.text_field :name, prompt: "商品名" %>
        </div>
        <div class="field">
          <%= f.label :introduction, '商品説明' %>
          <%= f.text_area :introduction, prompt: "ここに説明文を記述します" %>
        </div>
        <div class="field">
          <%= f.label :genre_id, 'ジャンル' %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "--選択してください--") %>
        <div class="field">
          <%= f.label :price, '税抜価格' %>
          <%= f.text_field :price, prompt: "1000" %>円
        </div>
        <div class="field">
          <%= f.label :is_active, '販売ステータス' %>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, '販売中', value:true %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, '販売停止中', value:false %>
        </div>
        <%= f.submit '新規登録', class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>