<div class="container">
  <h5 class="ml-4 my-4 bg-light d-inline-flex">商品新規登録</h5>
  <%= form_for(@product) do |f| %>
    <%= render 'layouts/errors', object: f.object %>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row mt-4">
        <div class="form-group w-auto mx-auto col-md-8">
          <%= form_with model: [:admin, @product], local:true do |f| %>
            <div class="form-row mb-2">
              <%= f.label :image, '商品画像', class:'col-3' %>
              <%= f.attachment_field :image %>
            </div>
            <div class="form-row mb-2">
              <%= f.label :name, '商品名', class:'col-3' %>
              <%= f.text_field :name, placeholder: "商品名", class:'col-5' %>
            </div>
            <div class="form-row mb-2">
              <%= f.label :introduction, '商品説明', class:'col-3' %>
              <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class:'col-5' %>
            </div>
            <div class="form-row mb-2">
              <%= f.label :genre_id, 'ジャンル', class:'col-3' %>
              <div>
              <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "--選択してください--") %>
              </div>
            </div>
            <div class="form-row mb-2">
              <%= f.label :price, '税抜価格', class:'col-3' %>
              <%= f.text_field :price, placeholder: "1000", class:'col-5' %>円
            </div>
            <div class="form-row mb-2">
              <%= f.label :is_active, '販売ステータス', class:'col-3' %>
              <div class="col-xs-5">
                <%= f.radio_button :is_active, true %>
                <%= f.label :is_active, '販売中', value:true, class:'mr-3' %>
                <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, '販売停止中', value:false %>
              </div>
            </div>
            <div class="form-row w-auto mx-auto ">
              <%= f.submit '新規登録', class:'btn btn-success w-auto mx-auto col-md-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>