<div class="container">
  <h5 class="ml-4 my-4 bg-light d-inline-flex">お気に入り一覧</h5>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if @favorite_products.present? %>
        <table class="table table-hover mt-4">
          <thead class="table-secondary">
            <tr>
              <th colspan="1"></th>
              <th>商品名</th>
              <th>税込価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @favorite_products.each do |product| %>
              <tr>
                <td>
                  <%= link_to product_path(product) do %>
                    <%= attachment_image_tag product, :image, fallback:"no-image.png", size: '80x50' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to product_path(product), class:'text-dark' do %>
                    <%= product.name %>
                  <% end %>
                </td>
                <td>
                  ¥<%= product.add_tax_price.to_s(:delimited) %>
                </td>
                <td>
                  <%= product.genre.name %>
                </td>
                <td>
                   <% if product.is_active == true %>
                      <p class="text-success">販売中</p>
                    <% else %>
                      <p class="text-black-50">販売停止中</p>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>お気に入りはありません。</p>
      <% end %>
      <div class="col align-self-center mb-5"><%= paginate @favorite_products %></div>
    </div>
  </div>
</div>