<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span><%= image_tag 'nagano-cake-logo.png', :size =>'110x50' %></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li><%= link_to ' 商品一覧', admin_products_path,class: 'nav-link text-dark fas fa-birthday-cake' %></li>
          <li><%= link_to ' 会員一覧', admin_customers_path,class: 'nav-link text-dark fas fa-users' %></li>
          <li><%= link_to ' 注文履歴一覧', admin_orders_path ,class: 'nav-link text-dark fas fa-history'%></li>
          <li><%= link_to ' ジャンル一覧', admin_genres_path ,class: 'nav-link text-dark fas fa-puzzle-piece'%></li>
          <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete,class: 'nav-link text-drak fas fa-sign-out-alt' %></li>
          <br>
          <%= render 'layouts/search' %>
        <% elsif customer_signed_in? %>
          <li><%= link_to "マイページ", customer_path(current_customer),class: 'nav-link text-drak fas fa-user-circle' %></li>
          <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete,class: 'nav-link text-drak fas fa-sign-out-alt' %></li>
          <li><%= link_to ' 商品一覧', products_path,class: 'nav-link text-drak fas fa-birthday-cake' %></li>
          <li><%= link_to ' お気に入り', bookmarks_products_path,class: 'nav-link text-drak fas fa-star' %></li>
          <li><%= link_to ' カート', cart_items_path,class: 'nav-link text-drak fas fa-shopping-cart' %></li>
        <% else %>
        　<li><%= link_to ' 管理者ログイン', new_admin_session_path ,class: 'nav-link text-drak fas fa-user-lock'%></li>
        　<li><%= link_to ' Home', root_path ,class: 'nav-link text-drak fas fa-home' %></li>
          <li><%= link_to ' About', homes_about_path ,class: 'nav-link text-drak fas fa-store-alt' %></li>
          <li><%= link_to ' 商品一覧', products_path ,class: 'nav-link text-drak fas fa-birthday-cake' %></li>
          <li><%= link_to ' 新規登録', new_customer_registration_path,class: 'nav-link text-drak fas fa-registered' %></li>
          <li><%= link_to ' ログイン', new_customer_session_path ,class: 'nav-link text-drak fas fa-sign-in-alt'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>