<div class="search-form">
  <%= form_tag(admin_search_path, method: :get) do %>
    <%= text_field_tag 'word' %>
    <%= select_tag 'range', options_for_select({ "Customer" => "customer", "Product" => "product" }) %>
    <%= select_tag 'search', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
    <%= submit_tag '検索' %>
  <% end %>
</div>